---
import Global from "../layouts/Global.astro"
---

<Global title="Toplap Strasbourg - Chaoslab">
    <h1>Chaoslab</h1>
    <p>Bienvenue dans notre espace de création et d'expérimentation !</p>
    <p>Le Chaoslab est un lieu où nous explorons la créativité numérique, l'art génératif et les technologies émergentes. Que vous soyez un artiste, un développeur ou simplement curieux, vous êtes le bienvenu pour participer à nos ateliers et événements.</p>
    <p>Restez à l'écoute pour plus d'informations sur nos prochaines sessions !</p>
</Global>